# User-specific files and cache
cache
custom
download
downloadlists
screenshots
user_custom

cfg/server_blacklist.txt
crosshairs.vdf

*.tmp
*.cache
*.cfg

# Add-ons (Sourcemod, Metamod: Source, etc)
addons

client_srv.so

# Debugging symbols
*.pdb
*.dbg

# IDA
*.idb
*.til
*.nam
*.id*

console.log
